<div class="control-pane control-pane--comp" [class.is-disabled]="disabled()">
  <div class="control-pane__header">COMP</div>
  <div class="control-pane__content">
    <div class="knob-row">
      <app-gauge-knob
        [position]="attackPos()"
        [displayValue]="attackStr()"
        size="small"
        label="ATTACK"
        (positionChange)="onAttackChange($event)"
      />
      <app-gauge-knob
        [position]="releasePos()"
        [displayValue]="releaseStr()"
        size="small"
        label="RELEASE"
        (positionChange)="onReleaseChange($event)"
      />
      <app-gauge-knob
        [position]="depthPos()"
        [displayValue]="depthStr()"
        size="small"
        label="DEPTH"
        (positionChange)="onDepthChange($event)"
      />
    </div>
    <div class="knob-row">
      <app-gauge-knob
        [position]="thresholdPos()"
        [displayValue]="thresholdStr()"
        label="THRESHOLD"
        (positionChange)="onThresholdChange($event)"
      />
      <app-gauge-knob
        [position]="ratioPos()"
        [displayValue]="ratioStr()"
        label="RATIO"
        (positionChange)="onRatioChange($event)"
      />
      <app-gauge-knob
        [position]="kneePos()"
        [displayValue]="kneeStr()"
        label="KNEE"
        (positionChange)="onKneeChange($event)"
      />
      <app-gauge-knob
        [position]="makeupPos()"
        [displayValue]="makeupStr()"
        label="GAIN"
        (positionChange)="onMakeupChange($event)"
      />
    </div>
    <div class="curve-display">
      <canvas #curveCanvas></canvas>
    </div>
  </div>
  <div class="control-pane__footer">
    <button class="panel-toggle" [class.active]="!bypass()"
            (click)="onToggle()">COMP</button>
  </div>
</div>
