<div class="control-pane control-pane--hpf">
  <div class="control-pane__header">HPF</div>
  <div class="control-pane__content">
    <app-gauge-knob
      [value]="frequency()"
      [min]="20"
      [max]="400"
      [step]="5"
      size="small"
      label="FREQ"
      unit="Hz"
      [showSign]="false"
      (valueChange)="onFrequencyChange($event)"
    />
  </div>
  <div class="control-pane__footer">
    <button class="panel-toggle" [class.active]="on()"
            (click)="onToggle()">ON</button>
  </div>
</div>
