<div class="control-pane control-pane--monitor">
    <div class="control-pane__header">AUX SENDS</div>
    <div class="control-pane__content">
        <div class="aux-column">
            @for (send of auxSends(); track $index) {
            <div class="aux-item">
                <label>AUX {{ $index + 1 }}</label>
                <app-gauge-knob
                  [value]="send"
                  [min]="-60"
                  [max]="10"
                  [step]="1"
                  size="small"
                  unit="dB"
                  [showSign]="true"
                  (valueChange)="onAuxSendChange($index, $event)"
                />
            </div>
            }
        </div>
    </div>
    <div class="control-pane__footer">
        <div class="channel-display">
          <span class="channel-display__label">CH</span>
          <span class="channel-display__value">{{ selectedChannel() }}</span>
        </div>
    </div>
</div>
