<div class="control-pane control-pane--monitor" [class.is-disabled]="disabled()">
    <div class="control-pane__header">AUX SENDS</div>
    <div class="control-pane__content">
        <div class="aux-column">
            @for (aux of auxSends(); track aux.output) {
            <div class="aux-item">
                <label>AUX {{ $index + 1 }}</label>
                <app-gauge-knob
                  [position]="aux.position"
                  [displayValue]="aux.displayString"
                  size="small"
                  (positionChange)="onAuxSendChange(aux.uiIndex, $event)"
                />
            </div>
            }
        </div>
    </div>
    <div class="control-pane__footer">
        <div class="channel-display">
          <span class="channel-display__label">CH</span>
          <span class="channel-display__value">{{ channel() ?? '–' }}</span>
        </div>
    </div>
</div>
