:host { display: contents; }
.aux-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.aux-item {
  display: flex;
  align-items: center;
  gap: 0.75em;
}
.aux-item label {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  letter-spacing: 0.03125em;
  text-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.5);
  min-width: 2em;
  opacity: 0.9;
}
