<div class="control-pane control-pane--out" [class.is-disabled]="disabled()">
  <div class="control-pane__header">OUT</div>
  <div class="control-pane__content">
    <div class="out-column">
      <app-gauge-knob
        [position]="delayPos()"
        [displayValue]="delayStr()"
        label="DELAY"
        [showSign]="false"
        (positionChange)="onDelayChange($event)"
      />
    </div>
  </div>
  <div class="control-pane__footer">
    <button class="panel-toggle" [class.active]="delayOn()"
            (click)="onDelayToggle()">DELAY</button>
  </div>
</div>
