<div class="control-pane control-pane--aux-master">
  <div class="control-pane__header">AUX MASTER</div>
  <div class="control-pane__content">
    <div class="aux-master-grid">
      @for (aux of auxBuses(); track $index) {
        <div class="aux-master-column">
          <div class="aux-master-column__label">AUX {{ $index + 1 }}</div>

          <!-- VU Meter — TODO: wire to QrwcMeterComponent -->
          <div class="aux-master-vu">
            @for (seg of getVUSegments(aux.vuLevel); track $index) {
              <div class="aux-master-vu__segment"
                   [class.aux-master-vu__segment--active]="seg"
                   [class.aux-master-vu__segment--yellow]="$index >= 5 && $index < 7"
                   [class.aux-master-vu__segment--red]="$index >= 7"></div>
            }
            <div class="aux-master-vu__clip" [class.aux-master-vu__clip--active]="aux.clip">C</div>
          </div>
          <!-- Pre/Post Toggle -->
          <button class="aux-master-column__pre-post"
                  [class.aux-master-column__pre-post--active]="aux.prePost"
                  (click)="onPrePostToggle($index)">PRE</button>
          <!-- Gain Knob -->
          <app-scale-knob
            [position]="aux.gainPosition"
            size="small"
            (positionChange)="onGainChange($index, $event)"
          />

          <!-- Mute Button -->
          <button class="aux-master-column__mute"
                  [class.aux-master-column__mute--active]="aux.mute"
                  (click)="onMuteToggle($index)">M</button>


        </div>
      }
    </div>
  </div>
</div>
